@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom left, rgb(180, 106, 201) 30%, rgb(138, 127, 225) 50%, rgb(76, 57, 225) 20%, rgb(180, 106, 201) 0%, rgb(81, 66, 195) 50%);
  background-attachment: fixed;
}

.tasks {
  display: none;
}

.nav-menu {
  display: none;
}

.container {
  overflow: hidden;
}

.schedule-container {
  width: 540px;
  height: 1000;
  background: #fff;
  border-radius: 3px;
  margin: 30px;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-bottom: 40px;
}
.schedule-container .schedule-header {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  display: flex;
}
.schedule-container .number-container {
  padding-left: 20px;
}
.schedule-container .six {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(103, 62, 237);
  color: #fff;
  padding: 2px 8px 2px 8px;
}
.schedule-container .schedule {
  padding-left: 40px;
  padding-top: 100px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(122, 121, 121);
}
.schedule-container .sub-schedule-container1 {
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(255, 241, 193);
  box-shadow: 5px 5px 10px rgba(89, 88, 88, 0.3);
}
.schedule-container .sub-schedule-container2 {
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(193, 233, 255);
  box-shadow: 5px 5px 10px rgba(89, 88, 88, 0.3);
}
.schedule-container .sub-schedule-container3 {
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(255, 193, 235);
  box-shadow: 5px 5px 10px rgba(89, 88, 88, 0.3);
}
.schedule-container .sub-schedule-container4 {
  margin: 20px;
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 20px;
  background-color: rgb(193, 255, 230);
  box-shadow: 5px 5px 10px rgba(89, 88, 88, 0.3);
}
.schedule-container .pictures {
  margin-top: 10px;
  padding: 10px;
}
.schedule-container img {
  border-radius: 50%;
  padding: 1px;
}
.schedule-container .time-container {
  display: flex;
}
.schedule-container .time {
  padding-top: 10px;
  font-size: 13px;
  color: rgb(122, 121, 121);
}
.schedule-container .more {
  padding-left: 330px;
}

@media only screen and (max-height: 800px) {
  .container {
    background: #fff;
    margin: 30px;
    margin-top: 100px;
    border-radius: 3px;
  }
  .tasks {
    display: block;
    width: 500px;
    height: 1500;
    background: #fff;
    border-radius: 3px;
    margin: 30px;
    margin-top: 100px;
  }
  .schedule-container {
    margin: 0px;
    padding: 0px;
  }
  .today-tasks {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
  }
  .nav-list {
    width: 400px;
    list-style-type: none;
    display: flex;
    margin: 0px;
    margin-left: 50px;
    padding: 0;
    padding-right: 20px;
    justify-content: center;
  }
  .nav-list li {
    justify-content: center;
  }
  .nav-list li a {
    display: block;
    color: rgb(122, 121, 121);
    text-align: center;
    padding: 40px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-list li a:hover {
    color: rgb(51, 137, 57);
    border-bottom: 2px solid rgb(73, 161, 79);
    background: #d1cccc;
  }
  .nav-list .active {
    color: rgb(51, 137, 57);
    border-bottom: 2.5px solid rgb(73, 161, 79);
  }
  .todays-tasks-list {
    display: flex;
  }
  .todays-tasks-list ul {
    border-top: 2.5px solid rgb(209, 209, 209);
    list-style-type: none;
    color: rgb(122, 121, 121);
    padding: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
  }
  .todays-tasks-list li {
    color: rgb(122, 121, 121);
    padding: 20px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    margin-left: 0px;
    font-weight: bold;
  }
  .todays-tasks-list li .approved-status {
    padding: 4px;
    float: right;
    margin-left: 130px;
    border-radius: 10px;
    background-color: rgba(66, 207, 113, 0.31);
    color: rgb(7, 88, 34);
    font-size: smaller;
  }
  .todays-tasks-list li .in-progress-status {
    padding: 4px;
    float: right;
    margin-left: 130px;
    border-radius: 10px;
    background-color: rgba(198, 151, 233, 0.167);
    color: rgb(107, 64, 228);
    font-size: smaller;
  }
  .todays-tasks-list li .in-review-status {
    padding: 4px;
    float: right;
    margin-left: 130px;
    border-radius: 10px;
    background-color: rgba(243, 114, 172, 0.255);
    color: rgb(237, 68, 127);
    font-size: smaller;
  }
  .upcoming-tasks-container {
    display: flex;
  }
  .upcoming-tasks {
    width: 500px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 20px;
    margin-right: 15px;
  }
  .waiting-status {
    padding: 4px;
    float: right;
    margin-left: 130px;
    border-radius: 10px;
    background-color: rgba(213, 209, 211, 0.255);
    color: rgb(111, 111, 111);
    font-size: smaller;
  }
}
@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    padding-right: 0px;
  }
  .container .nav-menu {
    display: none;
  }
  .container .tasks {
    float: left;
  }
  .container .schedule-container {
    float: right;
    margin-right: 0px;
    border-left: 2px solid rgb(209, 209, 209);
  }
  .container .schedule-container .schedule-header {
    float: right;
    margin-right: 20px;
    margin-left: 175px;
  }
  .container .schedule-container .time {
    padding-top: 10px;
    font-size: 10px;
    width: 100px;
  }
  .container .schedule-container .more {
    padding-left: 100px;
  }
  .container .nav-list {
    margin: 0px;
  }
  .container li a {
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .todays-tasks-list .approved-status {
    margin-left: 30px;
  }
  .container .todays-tasks-list .in-review-status {
    margin-left: 30px;
  }
  .container .todays-tasks-list .in-progress-status {
    margin-left: 30px;
  }
  .container .waiting-status {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1000px) and (max-height: 800px) {
  .container {
    display: flex;
    width: 1370px;
  }
  .container .tasks li a {
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container .tasks .active {
    margin-right: 40px;
    padding-left: 35px;
  }
  .container .schedule-container {
    width: 400px;
    float: right;
    margin-right: 0px;
    border-left: 2px solid border-color;
  }
  .container .schedule-container .time-container {
    width: 400px;
  }
  .container .schedule-container .time {
    font-size: 13px;
  }
  .container .schedule-container .more {
    padding-left: 200px;
  }
  .container .nav-list {
    margin-left: 50px;
  }
  .container .nav-list .li a {
    padding-left: 40px;
  }
  .container .nav-menu {
    background: rgba(205, 214, 241, 0.3843137255);
    display: block;
    float: left;
    width: 310px;
    border-right: 2px solid rgba(192, 215, 232, 0.608);
  }
  .container .nav-menu ul {
    list-style-type: none;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 40px;
    margin-top: 80px;
    width: 182px;
  }
  .container .nav-menu li {
    color: #000000;
    padding-top: 10px;
    margin-left: 0px;
    font-weight: bold;
  }
  .container .nav-menu svg {
    color: #000000;
    margin-right: 20px;
    width: 17px;
    height: 17px;
  }
  .container .space li {
    color: #9c9c9c;
  }
  .container .todays-tasks-list .approved-status {
    margin-left: 130px;
  }
  .container .todays-tasks-list .upcoming-tasks {
    width: 600px;
  }
  .container .waiting-status {
    margin-left: 140px;
  }
  .container .schedule {
    padding-top: 100px;
  }
}/*# sourceMappingURL=styles.css.map */